<div class="popup-overlay" *ngIf="isOpen">
    <div class="popup-content">
        <div class="popup-header">
            <h2>Stock Info</h2>
            <button class="close-button-x" (click)="close()">X</button>
        </div>
        <div class="popup-body">
            <form (ngSubmit)="submitForm(stockInfoForm.value)" #stockInfoForm="ngForm">
                <div class="form-group">
                    <label for="tickerName">Ticker name</label>
                    <input type="text" id="tickerName" name="tickerName" [(ngModel)]="model.tickerName" required
                        #tickerName="ngModel">
                    <div *ngIf="tickerName.invalid && (tickerName.dirty || tickerName.touched)" class="error-message">
                        Ticker name is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity" [(ngModel)]="model.quantity" required
                        #quantity="ngModel">
                    <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="error-message">
                        Quantity is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="purchasePrice">Purchase price</label>
                    <input type="number" id="purchasePrice" name="purchasePrice" [(ngModel)]="model.purchasePrice"
                        required #purchasePrice="ngModel">
                    <div *ngIf="purchasePrice.invalid && (purchasePrice.dirty || purchasePrice.touched)"
                        class="error-message">
                        Purchase price is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="purchaseDate">Purchase date</label>
                    <div class="input-group">
                        <input class="form-control" id="purchaseDate" placeholder="yyyy-mm-dd" name="purchaseDate"
                            [(ngModel)]="model.purchaseDate" ngbDatepicker #d="ngbDatepicker" #purchaseDate="ngModel"
                            required />
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <i class="bi bi-calendar3"></i> <!-- Add the Bootstrap icon class here -->
                        </button>
                    </div>
                    <div *ngIf="purchaseDate.invalid && (purchaseDate.dirty || purchaseDate.touched)"
                        class="error-message">
                        Purchase date is required
                    </div>
                </div>
                <div class="popup-footer">
                    <button type="submit" [disabled]="stockInfoForm.invalid">Submit</button>
                    <button class="close-button" (click)="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>