<div class="card">
  <div class="card-header">
    <span>Ticker: {{ stockInfo.tickerName }}</span>
    <div class="card-actions">
      <button class="action-button">...</button>
      <div class="action-options">
        <button class="action-button" (click)="editStockInfo()">Edit</button>
        <button class="action-button" (click)="deleteStockInfo()">Delete</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-info">
      <span>Quantity: {{ stockInfo.quantity }}</span>
      <span>Purchase price: {{ stockInfo.purchasePrice }}</span>
      <span>Purchase date: {{ stockInfo.purchaseDate | date: 'dd-MM-yyyy' }}</span>
    </div>
  </div>
</div>