<div class="stock-list-container">
  <button class="add-button" (click)="openAddStockInfoPopup()"><i class="bi bi-plus"></i></button>
  <div class="card-container">
    <div *ngFor="let s of stockInfos$ | async" class="card">
      <app-stock-info [stockInfo]="s" (editClick)="editStockInfo($event)"
        (deleteClick)="askConfirmDeleteStockInfo($event)"></app-stock-info>
    </div>
  </div>
</div>

<app-add-stock-info-popup [isOpen]="isAddPopupOpen" [model]="currentModel" (closePopup)="closeAddStockInfoPopup()"
  (submitStockInfo)="submitStockInfo($event)"></app-add-stock-info-popup>

<app-remove-stock-confirmation-popup [isOpen]="isConfirmDeletePopupOpen" [model]="currentModel"
  (closePopup)="closeConfirmDeletePopup()" (delete)="deleteStockInfo()"></app-remove-stock-confirmation-popup>